template#home
  .home
    h2 {{motd}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
      img(src='https://i.imgur.com/G7zimv9.png') 
    .buttons
      .button(v-for="view in views")
        router-link(:to="'/' + view[0]") {{ view[1] }}
        
template#about
  .content
    h2 {{title}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
    p Young people living in the times of fast developing multimedia and technological progress are often not aware of the influence that modern technologies have on their health and well-being. 
    p The presented project covers three areas: health and sport, nutrition, modern technologies and is aimed at students, aged 16-19, of 4 secondary schools, their teachers, members of their families and the local communities. There will be involved 96 students and 82 teachers, but there are also 5000 students, teachers, parents, members of local and global communities who will benefit from the project. The innovative aim is to raise awareness of the negative sides of unhealthy lifestyle and to implement health-promoting attitudes among the participants by means of designing and using a mobile phone application. The students will design a pro-healthy city game, which will be played during exchange visits. The mobile phone application is of long-term character since it will be used throughout the whole project and after its ending and its idea is to remind, inform and motivate all the participants regularly to lead healthy lifestyle. The free of charge app will be accessible on the project website and in an online shop. The project is interdisciplinary and multi-faceted as it concerns IT, Biology, Chemistry, Foreign Languages and Physical Education.
    p The objectives are:
      ul
        li To develop pro-healthy lifestyle habits by introducing and implementing health-promoting attitudes;
        li To improve fitness of the participants in the time of the project by 10%;
        li To develop a habit of preparing and eating nutritious breakfast by 60% of the participants;
        li To broaden by 20% the knowledge concerning civilization diseases and their relation with nutrition and unhealthy lifestyle; 
        li To improve basic programming skills needed for designing the application.  
    p During the project the participants will learn basic programming skills, ways of searching information on the Internet and checking its credibility, making presentations, applying IT tools to gather data, writing algorithm for the application. Besides that while working on questionnaires and articles the participants'  skills in reading and listening comprehension, critical thinking, team work will be improved. Various techniques of team work, audio and video conferences will be held; short films on nutritious meals will be made; lectures by dieticians, doctors, trainers; interviews with grandparents about their diet will be conducted as well as cookery workshops; chemical analysis of meals will be performed. Students will undergo a cycle of fitness tests; they will participate in sport classes, a bike trip, beach volleyball tournament, Tai Chi and yoga classes led by professional instructors. All the initiative is complimentary with the school syllabuses.
    p Through promotion of lifestyle conducive to health, which is the focus of the project, all the participants'  physical and emotional health will improve. Health-promoting habits and prevention of civilization diseases will be reinforced; the needs and practical skills concerning sports activities and healthy eating will be developed. Thanks to communication with their peers the students will develop their language competence as well as personal and citizen traits. 
    p Cooperating teachers will broaden their knowledge and experience connected with promotion of healthy lifestyle; practise their managerial and operating modern technologies skills; learn modern ways of promotion, new methods of teaching, improve interrelation-related competences; enrich their knowledge of multicultural differences.
    p Through international cooperation, school exchange visits, steady online contact mobility among the participating schools will be developed. The schools will establish their reputation of institutions for which intellectual and psychophysical development of the students is a priority. Their educational offer will be enriched by multicultural values.
    p The actions covered by the project will stimulate the participants to reflect on their lifestyle and lead to implementation health-promoting attitudes while, at the same time, will motivate to develop modern technologies competences. We claim that in the future the outcomes of the project will serve further education of healthier and enlightened young people, which relates to the Euro 2020 strategy.
    

template#profile
  .content
    h2 {{title}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
    .center
      .avatar.center
        img(src='https://unsplash.com/photos/6_I6NIKRCy4/download?force=true')
    p.center imię i nazwisko
    ul
      li Waga: 0KG
      li Wzrost: 0CM
      li BMI: 0
    .buttons
      .button
        span Water
      .button
        span Snacks to school - survey
        
template#sport
  .content
    h2 {{title}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
    h3 Categories
    .buttons
      .button(v-for='T in things')
        router-link(:to='"/" + T[0]') {{ T[2].data().title }}
        
template#food
  .content
    h2 {{title}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
    h3 Filters
    
    .buttons
      .button(v-for='T in things')
        router-link(:to='"/" + T[0]') {{ T[2].data().title }}
    
template#health
  .content
    h2 {{title}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
    .advice rada 1
    .advice rada 2
    p.center itd.
    
template#like
  .content
    h2 {{title}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
    .buttons
      .button
        router-link(to='/') VIDEOS
      .button
        router-link(to='/') ARTICLES
        
template#sport-sub
  .content
    h2 {{title}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
    .advice ćw. 1
    .advice ćw. 2
    p.center itd.
        
template#food-sub
  .content
    h2 {{title}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
    .recipe przepis 1
    .recipe przepis 2
    p.center itd.
    
template#like-sub-artices
  .content
    h2 {{title}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
    .advice art. 1
    .advice art. 2
    p.center itd.
    
template#like-sub-videos
  .content
    h2 {{title}}
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.05 24.977")
        path(d="M200.025 13.23c-76.414-44.117-130.617 40.058-200 0v11.747h200z" fill="#fff")
    .advice vid. 1
    .advice vid. 2