@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700");
#app,
body,
html {
  height: 100%;
}

body {
  font-family: Raleway !important;
}

.home h2 {
  border-bottom: calc(15vmin + 27px) solid #fff;
}

h2 {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 17px;
  color: #fff;
  background: #0af;
  margin: 0;
  padding: 27px;
  border-bottom: 27px solid #fff;
}

h2.bg {
  background: rgba(0, 0, 0, .3);
  overflow: hidden;
}

h2 svg {
  margin: 27px -27px -28px;
  display: block;
  width: calc(100% + 2 * 27px);
}

h2 img:not(.title-bg) {
  display: block;
  position: absolute;
  bottom: -15vmin;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 30vmin;
  height: 30vmin;
  filter: drop-shadow(0 0 27px #0af);
}

h2 img.title-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
    left: 0;
    width: 100%;
    z-index: -1;
}

.buttons .button {
  padding: 7px 17px;
}

.buttons .button span,
.buttons .button a {
  display: block;
  border: 2px solid #0af;
  border-radius: 7px;
  padding: 7px 17px;
  color: #000;
  text-decoration: #000;
}

.content>p {
  padding: 7px 17px;
  margin: 0;
}

p.center {
  text-align: center;
}

div.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

h3 {
  text-transform: uppercase;
  text-align: center;
}

.recipe {
  position: relative;
  margin: 7px 17px;
  overflow: hidden;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.3);
}

.articles {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.article {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    width: calc(50% - 7px * 2);
    margin: 7px;
    background: rgba(0, 0, 0, 0.3);
}

.article a,
.recipe a {
    color: #fff;
    text-decoration: none;
    padding: 27px;
    display: block;
}

.gray {
  color: #666;
}

.food-recipe {
  padding: 0 17px;
}

.article img,
.recipe img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: -1;
}

ol > li {
  padding: 7px 0;
}