@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700");
html {
  height: 100%;
}
body {
  font-family: Lato, Raleway;
  color: #777;
}
#app {
  height: 100vh;
}
.root {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: space-around;
  -moz-box-align: space-around;
  -o-box-align: space-around;
  -ms-flex-align: space-around;
  -webkit-align-items: space-around;
  align-items: space-around;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.root .button-wrapper {
  width: 50%;
  position: relative;
  margin-bottom: 68px;
}
.root .button-wrapper .button {
  width: 100%;
  padding-top: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  color: inherit;
  text-align: center;
}
.root .button-wrapper .button .icon {
  position: absolute;
  top: 17px;
  left: 17px;
  right: 17px;
  bottom: 17px;
  background: #0af;
  background: -webkit-linear-gradient(top left, #0af 0, #0099e6 50%, #0077b3 100%);
  background: -moz-linear-gradient(top left, #0af 0, #0099e6 50%, #0077b3 100%);
  background: -o-linear-gradient(top left, #0af 0, #0099e6 50%, #0077b3 100%);
  background: -ms-linear-gradient(top left, #0af 0, #0099e6 50%, #0077b3 100%);
  background: linear-gradient(to bottom right, #0af 0, #0099e6 50%, #0077b3 100%);
  -webkit-box-shadow: 0 7px 17px #0077b3;
  box-shadow: 0 7px 17px #0077b3;
  border-radius: 50%;
  font-size: 25vw;
}
.root .button-wrapper .button .content {
  position: absolute;
  bottom: -34px;
  left: 0;
  right: 0;
  font-size: 2em;
  font-family: Raleway;
  font-weight: 200;
}
.survey {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
.survey header {
  height: 50vh;
  background: -webkit-linear-gradient(top, #0af 0, #0099e6 50%, #0077b3 100%);
  background: -moz-linear-gradient(top, #0af 0, #0099e6 50%, #0077b3 100%);
  background: -o-linear-gradient(top, #0af 0, #0099e6 50%, #0077b3 100%);
  background: -ms-linear-gradient(top, #0af 0, #0099e6 50%, #0077b3 100%);
  background: linear-gradient(to bottom, #0af 0, #0099e6 50%, #0077b3 100%);
  position: relative;
}
.survey header .icon {
  height: 90%;
}
.survey header .icon img {
  width: 128px;
  height: 128px;
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  -ms-transition: -ms-transform 0.2s ease;
  transition: transform 0.2s ease;
}
.survey header svg {
  width: 100%;
  position: absolute;
  bottom: -1px;
}
.survey .content {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  background: #fff;
}
.survey .content .question {
  padding: 37px 0 47px;
  text-align: center;
  font-family: Raleway;
  font-size: 3em;
  font-weight: 100;
}
.survey .content .question span {
  padding: 27px 0 0;
  display: block;
  font-size: 0.5em;
  font-weight: 200;
}
.survey .content .answers {
  width: 100%;
  bottom: 0;
}
.survey .content .answers-spacer {
  height: 100%;
}
.paper-button {
  position: relative;
  padding: 17px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 300;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
svg {
  display: block;
}
.checkbox {
  padding: 7px 27px;
  font-weight: 300;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
input[type=checkbox] + label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 17px;
  height: 17px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  border: 1px solid #0af;
  border-radius: 3px;
  vertical-align: -6px;
  margin-right: 10px;
  -webkit-transition: background-color 0.15s 0.2s, -webkit-transform 0.35s cubic-bezier(0.78, -1.22, 0.17, 1.89);
  -moz-transition: background-color 0.15s 0.2s, -moz-transform 0.35s cubic-bezier(0.78, -1.22, 0.17, 1.89);
  -o-transition: background-color 0.15s 0.2s, -o-transform 0.35s cubic-bezier(0.78, -1.22, 0.17, 1.89);
  -ms-transition: background-color 0.15s 0.2s, -ms-transform 0.35s cubic-bezier(0.78, -1.22, 0.17, 1.89);
  transition: background-color 0.15s 0.2s, transform 0.35s cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
input[type=checkbox] + label span::before {
  content: '';
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #0af;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
  left: 3px;
  -webkit-transition: width 0.05s ease 0.05s;
  -moz-transition: width 0.05s ease 0.05s;
  -o-transition: width 0.05s ease 0.05s;
  -ms-transition: width 0.05s ease 0.05s;
  transition: width 0.05s ease 0.05s;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
input[type=checkbox] + label span::after {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #0af;
  position: absolute;
  -webkit-transform: rotate(305deg);
  -moz-transform: rotate(305deg);
  -o-transform: rotate(305deg);
  -ms-transform: rotate(305deg);
  transform: rotate(305deg);
  top: 10px;
  left: 4px;
  -webkit-transition: width 0.05s ease;
  -moz-transition: width 0.05s ease;
  -o-transition: width 0.05s ease;
  -ms-transition: width 0.05s ease;
  transition: width 0.05s ease;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
input[type=checkbox] + label:hover span::before {
  width: 5px;
  -webkit-transition: width 0.1s ease;
  -moz-transition: width 0.1s ease;
  -o-transition: width 0.1s ease;
  -ms-transition: width 0.1s ease;
  transition: width 0.1s ease;
}
input[type=checkbox] + label:hover span::after {
  width: 10px;
  -webkit-transition: width 0.15s ease 0.1s;
  -moz-transition: width 0.15s ease 0.1s;
  -o-transition: width 0.15s ease 0.1s;
  -ms-transition: width 0.15s ease 0.1s;
  transition: width 0.15s ease 0.1s;
}
input[type=checkbox]:checked + label span {
  background: #0af;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}
input[type=checkbox]:checked + label span::before {
  width: 5px;
  background: #fff;
  -webkit-transition: width 0.15s ease 0.1s;
  -moz-transition: width 0.15s ease 0.1s;
  -o-transition: width 0.15s ease 0.1s;
  -ms-transition: width 0.15s ease 0.1s;
  transition: width 0.15s ease 0.1s;
}
input[type=checkbox]:checked + label span::after {
  width: 10px;
  background: #fff;
  -webkit-transition: width 0.15s ease 0.1s;
  -moz-transition: width 0.15s ease 0.1s;
  -o-transition: width 0.15s ease 0.1s;
  -ms-transition: width 0.15s ease 0.1s;
  transition: width 0.15s ease 0.1s;
}
input[type=text],
input[type=number] {
  margin: 27px auto;
  width: 80%;
  display: block;
  border: 0;
  padding: 17px 27px;
  border-bottom: 1px solid #0af;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -ms-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, transparent 96%, #0af 4%);
  background: -moz-linear-gradient(top, transparent 96%, #0af 4%);
  background: -o-linear-gradient(top, transparent 96%, #0af 4%);
  background: -ms-linear-gradient(top, transparent 96%, #0af 4%);
  background: linear-gradient(to bottom, transparent 96%, #0af 4%);
  background-position: -80vw 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: inherit;
  -moz-appearance: textfield;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=text]:valid,
input[type=number]:valid {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input[type=text]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=text]::-webkit-outer-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@font-face {
  font-family: 'EmojiOne';
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.rawgit.com/mozilla/fxemoji/gh-pages/dist/FirefoxEmoji/FirefoxEmoji.ttf") format('truetype');
}
.icon {
  font-size: 128px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-family: EmojiOne;
}
.icon img {
  width: 1em;
  height: 1em;
}
.slide {
  height: calc(100vh - 64px);
  width: 100vw;
  font-size: 30px;
  font-weight: 300;
  font-family: Raleway;
  color: #666;
  overflow: auto;
}
.slides > .menu {
  position: fixed;
  bottom: 0;
  height: 64px;
  width: 100vw;
}
.slides > .menu .row {
  border-top: 2px solid #0af;
}
.slides > .menu .col .paper-button {
  height: 64px;
  width: 100%;
  filter: grayscale(1);
}
.slides > .menu .col.active .paper-button {
  filter: none;
}
.slides > .menu .col .icon img {
  width: 32px;
  height: 32px;
}
.dashboard .article {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  margin: 47px;
  background: rgba(0,0,0,0.07);
}
.dashboard .article .header {
  padding: 17px 17px 34px;
  background: -webkit-linear-gradient(bottom right, #0af, #0099e6);
  background: -moz-linear-gradient(bottom right, #0af, #0099e6);
  background: -o-linear-gradient(bottom right, #0af, #0099e6);
  background: -ms-linear-gradient(bottom right, #0af, #0099e6);
  background: linear-gradient(to top left, #0af, #0099e6);
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-family: Lato;
}
.dashboard .article .header .date {
  font-size: 0.5em;
}
.dashboard .article .content {
  font-size: 0.5em;
  margin: -17px 0 0;
  padding: 14px 17px 17px;
  border-radius: 17px 0 0 0;
  background: #ededed;
}
.profile header {
  position: relative;
  height: 40vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: -webkit-linear-gradient(bottom right, #0af, #0099e6);
  background: -moz-linear-gradient(bottom right, #0af, #0099e6);
  background: -o-linear-gradient(bottom right, #0af, #0099e6);
  background: -ms-linear-gradient(bottom right, #0af, #0099e6);
  background: linear-gradient(to top left, #0af, #0099e6);
}
.profile header svg {
  width: 100%;
  position: absolute;
  bottom: -1px;
}
.profile h1 {
  text-align: center;
  padding: 0 0 27px;
  font-family: Lato;
}
.profile h2 {
  text-align: center;
  padding: 27px 0;
  font-family: Lato;
}
.profile .circ {
  width: 100%;
  padding: 100% 0 0;
  position: relative;
}
.profile .circ > svg {
  position: absolute;
  top: 0;
  left: 0;
}
.profile .circ > .icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
.menu:not(.slide-menu) .circ {
  background: -webkit-linear-gradient(bottom right, #0af, #0099e6);
  background: -moz-linear-gradient(bottom right, #0af, #0099e6);
  background: -o-linear-gradient(bottom right, #0af, #0099e6);
  background: -ms-linear-gradient(bottom right, #0af, #0099e6);
  background: linear-gradient(to top left, #0af, #0099e6);
  width: 80%;
  padding: 80% 0 0;
  border-radius: 50%;
  position: relative;
  margin: 17px auto;
  cursor: pointer;
}
.menu:not(.slide-menu) .circ .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
.menu:not(.slide-menu) h1 {
  text-align: center;
  font-family: Lato;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.row .col {
  width: 100%;
}
